@font-face{
    font-family: SF Pro Display;
    src: url("SFPRODISPLAYREGULAR.OTF");


    font-family: American Captain    ;
    src: url("American\ Captain.otf");
}

* {
    font-family: SF Pro Display;

}

body{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    width: 1100px;
 
}

header{
    color: #FFF;
    display: flex;
    justify-content: center;
    background-color: #1A191A;
    padding: 10px;

}

header nav{
    display: flex;
    width: 1100px;
    justify-content: space-between;
    align-items: center;
    background-color: #1A191A;

}

.contact a{
    display: flex;
    align-items: center;
    color: #FFF;
    text-decoration: none;
}
.contact img{
    margin-right: 15px;
}

.logo{
    display: flex;
    align-items: center;

}
.logo img{
    width: 150px;
    height: auto;
}

.contact{
    display: flex;
    align-items: center;
}

.banner{
    display: flex;
    justify-content: center;
    background-image: url(img/header.webp);
    
}

.banner_text{
    color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 70px;
    padding-bottom: 70px;
}

.banner_title{
    font-family: SF Pro Display;
    font-weight: bold;
    text-shadow: 2px 2px 10px #000;
    font-size: 54px;
    color: #FFF;
}

.about_us_title h1,
.service_title h1,
.orcamento_title h1{
    font-family: SF Pro Displaygit;
    font-weight: bold;
    text-shadow: 2px 2px 10px #000;
    font-size: 40px;
    padding-top: 5px;
    color: #FFF;
   
}
.orcamento_title h1{
    max-width: 350px;
}

.banner_desc{
    font-weight: bold;
    text-shadow: 5px 5px 15px #000;
    font-size: 20px;
    max-width: 600px;
}

.banner_buttom{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #FFF;
    font-weight: bold;
    border: 2px solid #FFF;
    border-radius: 5px;
    padding: 5px;
    font-size: 20px;
    margin-top: 20px;
    background-color: #25D366;
    overflow: hidden;
    transition: 2s;
}

.banner_buttom:hover{
    opacity: 0.8;
}

.column{
    flex-direction: column;
}

.about_us,
.service,
.orcamento{
    background-color: #1A191A;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #373737;
}


.about_us_desc,
.about_us_title,
.service_title{
    display: flex;
    justify-content: space-around;
    

}
.about_us_img img{
    max-width: 300px;
}


.about_us_img img,
.about_us_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    height: auto;
    font-size: 25px;
    font-weight: bold;
    color: #FFF;
    text-align: justify;
}
.tel{
    text-decoration: none;
    color: #FFF;
}

.tel:hover{
    text-decoration: underline;
}
.contato{
    display: flex;
    margin-top: 10px;
}
.contato a{
    margin-left: 40px;

}
.service_title,
.orcamento_title{
    color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.orcamento div{
    display: flex;
    justify-content: center;
    padding: 20px;

}
.service_title h2{
    font-size: 20px;
  
}
.service_img{
    display: flex;
    justify-content: space-around;
    overflow: hidden;
    padding: 30px;
}

.service_img img{
    width: 250px;
    height: 350px;
    max-width: 100%;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}


.img1:hover,
.img2:hover,
.img3:hover,
.banner_buttom:hover img {
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}


.form form{
    display: flex;
    flex-direction: column;
    font-size: 25px;
    color: #FFF;
    max-width: 400px;
    padding: 20px;
}

.form{
    display: flex;
    justify-content: center;
    padding-bottom: 60px;
}

input,
textarea,
button {
  width: 100%;
  border-radius: 4px;
  font-size: 12px;
  resize: none;
}

input,
textarea {
  padding: 5px;
}

button {
  cursor: pointer;
  background-color: #25D366;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  height: 48px;
  border: none;
  font-size: 16px;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    color: #FFF;
    background-color: #1A191A;
    font-size: 14px;
    padding-left: 60px;
}

footer img{
    width: 100px;
    height: auto;
    padding: 5px;
}
footer span{
    padding-bottom: 5px;
}


@media (max-width: 780px){
    .about_us_text span{
        font-size: 17px;
    }

    .banner,
    .service{
        padding: 10px;
    }

}

@media (max-width: 684px){

    .banner_title{
        font-size: 40px;
        padding-right: 30px;
    }
    .banner_desc{
        font-size: 15px;
        padding-right: 30px;
    }
    .banner_buttom{
        font-size: 17px;
        width: auto;
        padding-right: 30px;
    }
    .banner_buttom:hover{
        font-size: 19git px;
    }
    .about_us_desc{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .about_us_text{
        font-size: 12px;
    }
    .about_us_title h1,
    .service_title h1,
    .orcamento_title h1{
        font-size: 30px;
    }
    .container{
        display: flex;
        flex-direction: column;
    }
    header nav{
        padding-left: 30px;
        padding-right: 30px;
        font-size: 12px;
    }
    .orcamento label{
        font-size: 17px;
    }
    label,
    .service_title h2{
    font-size: 17px;

    
    }
    .service_img{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .service img{
        margin-bottom: 20px;
    }


}

@media (max-width: 461px){
    .banner_title{
        font-size: 30px;
        padding-right: 20px;
    }
    .banner_buttom{
        font-size: 15px;
        width: auto;

    }
    .banner_buttom:hover{
        font-size: 17px;
    }

    .about_us_text{
        font-size: 10px;
    }
    .about_us_title h1,
    .service_title h1,
    .orcamento_title h1{
        font-size: 25px;
    }

    header nav{
        font-size: 10px;
    }
}